__pycache__/
*.py[cod]

.DS_Store
.env
.venv/
venv/

weights/*.pt

runs/
*/runs/

*.mp4
*.mov
*.avi

samples/images/*
!samples/images/.gitkeep
samples/videos/*
!samples/videos/.gitkeep

*.cache
*.log
